---
import work from "@data/work.json";
import Click from "@components/section2/ClickIcon.astro";
import Click2 from "@components/section2/ClickIcon2.astro";
import WorkModal from "@components/section2/WorkModal.astro";
const language = Astro.props.language;
---

{
  work.map((workItem, index) => (
    <>
      <a
        data-index={index}
        class={`work-item work-item-${index}`}
        style={`animation-delay:${index * 0.15}s`}
        href={workItem.url}
        target="_blank"
      >
        <span class="work-name">{workItem.url}</span>
        <span class="icon">
          <Click2 />
          <Click />
        </span>
      </a>
      
    </>
  ))
}
<WorkModal language={language} />

<script>
  import work from "@data/work.json";
  
  const workItems = document.querySelectorAll(".work-item");
  const closeButton = document.querySelector(".modal-close");
  const modal = document.getElementById("modal-work") as HTMLDialogElement;
  const modalArrows = document.querySelectorAll(".modal-arrow");
  const modalArrowPrev = document.querySelector(".modal-arrow-prev");
  const modalArrowNext = document.querySelector(".modal-arrow-next");
  const body = document.querySelector("body");
  let workIndex = 0;
    // Precarga de imágenes en segundo plano
  document.addEventListener("DOMContentLoaded", () => {
    work.forEach(item => {
      if (item.image) {
        const img = new window.Image();
        img.src = item.image;
      }
    });
  });

  // Open the dialog when a work item is clicked
  workItems.forEach((workItem) => {
    workItem.addEventListener("click", (event) => {
      event.preventDefault();
      modal.showModal();
      workIndex = workItem ? parseInt(workItem.getAttribute("data-index") ?? "0") || 0 : 0;
      showInfo(workIndex);
    });
  });

  // Close Dialog
  closeButton?.addEventListener("click", () => {
    modal.close();
  });

  body?.addEventListener("click", (event) => {
    if (event.target === modal) {
      modal.close();
    }
  });
 
  // PREV / NEXT ARROWS
  modalArrowNext?.addEventListener("click", (event) => {
    event.preventDefault();
    if ( workIndex >= work.length - 1) {
      modalArrowNext.classList.add("disabled");
      return;
    }
    modalArrowPrev?.classList.remove("disabled");
    workIndex ++;
    showInfo(workIndex);
  });

  modalArrowPrev?.addEventListener("click", (event) => {
    event.preventDefault();
    if (workIndex <= 0 ) {
      modalArrowPrev.classList.add("disabled");
      return;
    }
    modalArrowNext?.classList.remove("disabled");
    workIndex --;
    showInfo(workIndex);
  });
  
  // Agregar navegación con flechas del teclado
  window.addEventListener("keydown", (event) => {
    if (!modal.open) return;
    if (event.key === "ArrowRight") {
      (modalArrowNext as HTMLButtonElement).click();
    } else if (event.key === "ArrowLeft") {
      (modalArrowPrev as HTMLButtonElement).click();
    } else if ( event.key === "Escape") {
      modal.close();
    }
  });

   // SHOW INFO IN MODAL
   function showInfo(workIndex) {
    // Reset arrows
    modalArrowPrev?.classList.remove("disabled");
    modalArrowNext?.classList.remove("disabled");
    if (workIndex <= 0 ) {
      modalArrowPrev?.classList.add("disabled");
    }
    if ( workIndex >= work.length - 1) {
      modalArrowNext?.classList.add("disabled");
      
    } 
    // Work Image
    const allImageItems = document.querySelectorAll(".modal-work-image-item");
    allImageItems.forEach((item) => {
      (item as HTMLElement).style.display = "none"; // Hide all images first
    });
  const workImageItem = document.querySelector(`.modal-work-image-item:nth-of-type(${workIndex + 1})`);
  if (workImageItem) {
    (workImageItem as HTMLElement).style.display = "block";
  }

    // Work Name
    const workName = document.querySelector(".modal-work-name") as HTMLDivElement;
    workName.textContent = work[workIndex].name;

    // Work Technologies
    const workTechnologies =  document.querySelector(".modal-work-technologies") as HTMLDivElement;
    workTechnologies.textContent = work[workIndex].technologies ?? "";

    // Work URL
    const workUrl = document.querySelector(".modal-work-url") as HTMLAnchorElement;
    workUrl.textContent = work[workIndex].url;
    workUrl.href = work[workIndex].url;

  }

  // Add .animated class when the element is in the viewport using intersection observer
  workItems.forEach((workItem) => {
    const workItemRect = workItem.getBoundingClientRect();
    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          workItem.classList.add("animated");
        }
      });
    });

    observer.observe(workItem);
  });
</script>

<style>
  .work-item {
    width: 100%;
    height: 80px;
    margin-bottom: 16px;
    padding: 0 30px;
    border-radius: 8px;
    border: 1px solid var(--lines);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #fff;
    backdrop-filter: blur(5px);
    /* transition: all 0.25s ease-in-out; */
    /* transform: scale(1); */
    transform-origin: center center;
    @media (max-width: 767px) {
      background-color: #143c60d5;
    }
    &:hover {
      --band-base:#143D60;
      --band1:color-mix(in srgb, var(--band-base), #ffffff 2%);
      background: repeating-linear-gradient(
        45deg,
        var(--band-base), 
        var(--band-base) 5%,
        var(--band1) 5%,
        var(--band1) 10%
      );
      background-size: 200px 200px;
      animation: move-it 1s linear infinite;
      /* color: var(--bg-color); */
      border-color: #607d8b;
      transform: scale(1.05);

      .icon {
        svg {
          color: #fca728;
          opacity: 1;
          transform: translateY(-34px);
        }
       
      }
      &::after {
        --round:4px;
        content: "";
        position: absolute;
        bottom: -1px;
        left: var(--round);
        height: 2px;
        width:0;
        background-color: color-mix(in srgb, var(--band-base), #ffffff 10%);
        animation: load 1s ease-in forwards;
      }
      & .work-name {
        color:#FF9500;
      }
    }
    .work-name {
      font-size: 21px;
      font-weight: 400;
      display: block;
      width: calc(100% - 40px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
     
    }
    .icon {
      --size: 34px;
      width: var(--size);
      height: var(--size);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex: 0 0 var(--size);
      @media (max-width: 767px) {
        --size: 28px;
      }
      svg {
        width: var(--size);
        height: var(--size);
        color: #fff;
        opacity: 0.5;
        transition: all 0.5s ease-in-out;
      }
    }
  }
  .work-item:nth-of-type(n + 9) {
    display: none;
  }

  .work-item {
    scale: 0;
    opacity: 0;
    transition:
      transform 0.25s,
      scale 0.5s ease-in-out,
      opacity 0.5s ease-in-out;
    &.animated {
      scale: 1;
      opacity: 1;
    }
  }
  @keyframes move-it {
    0% {
      background-position: initial;
    }
    100% {
      background-position: 200px 0px;
    }
  }
  @keyframes load {
    to {
      width:calc(100% - var(--round)*2);
    }
  }
</style>
